* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
styles.csshttps://fonts.adobe.com/fonts/hellofont-id-yi-zhi-pin-yin-ti#details-section+hellofont-id-yizhipinyinti-regular-51269
